.myForm {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1rem;
    width:80%;
    border-radius:10%;
    padding: 50px;
    margin-bottom:200px;
    border: 2px dashed black;
    

    }
    
    .myForm * {
    box-sizing: border-box;
    }
    
    .myForm fieldset {
    border: none;
    padding: 0;
    }
    
    .myForm legend,
    .myForm label {
    padding: 0;
    font-weight: bold;
    }
    
    .myForm label.choice {
    font-size: 0.9em;
    font-weight: normal;
    }
    
    .myForm label {
    text-align: left;
    display: block;
    }
    
    .myForm input[type="text"],
    .myForm input[type="tel"],
    .myForm input[type="email"],
    .myForm input[type="datetime-local"],
    .myForm select,
    .myForm textarea {
    float: right;
    border:0px;
    border: 1px solid black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    width:250px;
    padding: 0.3em;
    }
    input .myForm textarea {
    height: 500px;
    
    }
   
    .myForm input[type="radio"],
    .myForm input[type="checkbox"] {
    margin-left: 67%;

    }
    
    .myForm button {
    padding: 1em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 1.8em;
    }
    
    .myForm button:hover {
    background: #ccc;
    cursor: pointer;
    }


.form_final {
    height:100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    
}


textarea{
    height:200px;
    width:100%;
    background-color: inherit;
    
}

input{
    
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    color:black;
    font-size:10px;
    
}

.myForm textarea{
    border:1px solid black;
    color:black;
    width:100%;
}
.form_head{
	display:block;
	width:100%;
	text-align: center;
	margin-bottom:50px;

}